########################
# General
#

*.class
*.log
*.pid
*.swp
*~
.DS_Store
Thumbs.db

/logs/
/log/
/temp/
/tmp/

########################
# Scala / SBT / IDE
#

target/

/.cache
/.history
/.classpath
/.project
/.worksheet

/.lib/
/.idea/
/.settings/

/dist/
/build/

/project/boot/
/project/project/
/project/target/

########################
# Packages
#

*.jar
*.ear
*.war
*.tar
*.bz2
*.gz
*.zip
*.7z
*.rar
*.iso

########################
